.container .navbar-brand{
  font-family: 'Michroma', sans-serif;
 font-size: 30px;
}

.container .navbar-nav{
  text-align: center;
  padding-left: auto;
}

.navbar-nav.nav-item {
font-family: 'Fjalla One', sans-serif;
font-weight: bold;


}
