.card-header{
  font-style: font-family: 'Teko', sans-serif;
  color:black;
  font-weight: bold;
  background-color: #d9d0d0;
  opacity: 0.5;
}

.card-body{
background-color: #ded9d9;
font-style: font-family: 'Teko', sans-serif;
color: black;

}

.card{
width:80%;
}
